{% extends 'base.html' %}

{% block title %} Edit your shipping info {% endblock %}

{% block content %}
<div class="top-messages">
    {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1>
        {% endfor %}
    {% endif %}
</div>

<div class="profile--main-container">
    <h1> Your orders </h1>
    <table class="all-orders">
        <tr>
            <th>Order ID:</th>
            <th>Ordered books</th>
            <th>Total price</th>
            <th>Shipped</th>
        </tr>
        {% for order in orders %}
        <tr>
            <td>{{order.order_id|truncatechars:20}}</td>
            <td>
                {% for book in order.books.all %}
                    {{book|truncatechars:30}}<br>
                {% endfor %}
            </td>
            <td>{{order.price}}€</td>
            {% if order.shipped %}
                <td>Yes</td>
            {% else %}
                <td>No</td>
            {% endif %}
        {% endfor %}
    </table>

</div>


<div class="profile--main-container">
    <h1>Edit your shipping information</h1>
    <div class="shipping-form">
        <form action="{% url 'profile' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
                {{field.label}}<br>
                {{field}}<br>
            {% endfor %}<br>
            <input class="submit-button-big" type="submit" value="Save">
    </div>
</div>

{% endblock %}