{% extends 'base.html' %}

{% block title %} My Cart {% endblock %}

{% block content %}

<div class="top-messages">
    {% if messages %}
        {% for message in messages %}
            <h1>{{ message }}</h1>
        {% endfor %}
    {% endif %}
</div>

<div class="shopping-cart">
    {% if cart_books %}
        <h1>Your shopping cart:</h1>
        <div class="item-container">
            <ul>
                {% for book in cart_books %}
                    <li class="cart-item">
                        {{book|truncatechars:80}} {{book.price}}€
                        <form action="{% url 'remove-from-cart' book.slug %}" method="POST">
                            {% csrf_token %}
                            <button class="submit-button" type="submit">Remove</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="shopping-cart--bottom">
            <h1>Total price: {{total_price|floatformat:2}}€</h1>
            <a href="{% url "place-order" %}"><button class="submit-button-big" type="submit">Place order</button></a>
        </div>

    {% else %}
        <h1>Your shopping cart is empty.</h1>
    {% endif %}

</div>

{% endblock %}